<%- include('header'); -%>

<div class="box" id="heading">
  <h1>To Do Lists</h1>
</div>
<div class="box">
    <div class="item">
    <p></p>
  </div>


  <form action="/" method="post" class="item">
    <input type="text" name="newList" placeholder="Start a new list..." autocomplete="off">
    <button type="submit" name="addButton" value=>+</button>
  </form>
</div>
<%- include('footer'); -%>
